<h1>Products</h1>
<ul>
  <div id="cartId"></div>
  {{#each products}}
    <li class="product" id={{this._id}}>{{this.title}}, ${{this.price}}
    </li>
  {{/each}}
</ul>
<div id="goToCart"></div>
{{>menu}}
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/js/products.js"></script>